
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

p, .col-sm-3, .col-sm-7{
  color: white;
}

body {
  background-color: rgb(67, 67, 65);
}

.col-sm-2 .ilustracnifoto{
  margin-top: 50px;
}

span{
  color: orangered;
}

hr{
  height:3px;
  border-width:0;
  background-color:orangered;
}
.main{
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1000px;
}
