html, body {
  max-width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

p, .col-sm-3, .col-sm-7 ,h1{
  color: white;
  font-family: 'Source Serif Pro', serif;
}

.form-check{
  color : white;
}

.col-sm-2 .ilustracnifoto{
  margin-top: 50px;
}

span{
  color: rgb(219, 62, 37);
}

hr{
  height:3px;
  border-width:0;
  background-color:rgb(219, 62, 37);
}
.main{
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1000px;
}
.logo{
  margin-top: 20px;


  width: 100%;
  height: 100%;
}


.form-control:focus {
  border-color: rgb(219, 62, 37);
  box-shadow: inset 0 1px 1px rgb(219, 62, 37), 0 0 8px rgb(219, 62, 37);

}

.btn{
  background-color: rgb(219, 62, 37);
  border-color: rgb(219, 62, 37);
  color: white;

}

.form-check-input[type="radio"] {
  background-color: rgb(219, 62, 37);
  color: rgb(219, 62, 37);
}

.home, .searchbutton, .logOut{
  margin-top: 50px;
  
}



.homeMobile, .searchbuttonMobile, .logOutMobile{
  display: none;
}


@media only screen and (max-width: 600px) {
.logo{
  width: 30%;
}

.homeMobile, .searchbuttonMobile, .logOutMobile{
  display: block;
}

.home, .searchbutton, .logOut{
 display: none;
}

.homeMobile{
  position: absolute;
  right: 30px;
  top: 60px
}
.searchbuttonMobile{
  position: absolute;
  right:80px;
  top: 60px
}

.logOutMobile{
  position: absolute;
  right: 130px;
  top: 60px

}

}

.form-control:focus {
  border-color: rgb(219, 62, 37);
  box-shadow: inset 0 1px 1px rgb(219, 62, 37), 0 0 8px rgb(219, 62, 37);

}

.btn{
  background-color: rgb(219, 62, 37);
  border-color: rgb(219, 62, 37);
  color: white;

}

.settingsDashboard, .searchbuttonDashboard, .logOutDashboard ,.settingsSearch, .homeSearch, .logOutSearch{
  margin-top: 50px;
  

}



body {
  background-color: rgb(67, 67, 65);
}

.btn-link{
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  
}

.btn-link:hover{
  color: rgb(219, 62, 37);
}


.settingsMobileDashboard, .searchbuttonMobileDashboard, .logOutMobileDashboard,.settingsMobileSearch, .homeMobileSearch, .logOutMobileSearch{
  display: none;
}







.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    
  }
 
  .search input{
 
   height: 60px;
   text-indent: 25px;
   border: 2px solid #d6d4d4;
 
 
  }
 
 
  .search input:focus{
 
   box-shadow: none;
   border: 2px solid rgb(219, 62, 37);
 
 
  }
 
  .search .bi-search{
 
   position: absolute;
   top: 19px;
   left: 16px;
 
  }
 
 
  .search button{
 
   position: absolute;
   top: 5px;
   right: 5px;
   height: 50px;
   width: 110px;
   background: rgb(219, 62, 37);
 
  }


  .ilustracnifoto{
    max-height: 100px;
    max-width: 100px;
  }

@media only screen and (max-width: 600px) {
.logo{
  width: 30%;
}

.settingsMobileDashboard, .searchbuttonMobileDashboard, .logOutMobileDashboard, .settingsMobileSearch, .homeMobileSearch, .logOutMobileSearch{
  display: block;
}

.settingsDashboard, .searchbuttonDashboard, .logOutDashboard, .settingsSearch, .homeSearch, .logOutSearch{
 display: none;
}

.settingsMobileDashboard, .settingsMobileSearch{
  position: absolute;
  right: 30px;
  top: 60px
}
.searchbuttonMobileDashboard, .homeMobileSearch{
  position: absolute;
  right:80px;
  top: 60px
}

.logOutMobileDashboard, .logOutMobileSearch{
  position: absolute;
  right: 80px;
  top: 60px

}
.logOutMobile{
  position: absolute;
  right: 80px;
  top: 60px

}




}
